apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "springboot.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "springboot.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "springboot.name" . }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: {{ .Values.service.targetPort }}

          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}

          envFrom:
            - secretRef:
                name: {{ include "springboot.name" . }}-secrets

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
