apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "springboot.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "springboot.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "springboot.name" . }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: {{ .Values.service.port }}

{{- if .Values.env }}
          env:
{{- toYaml .Values.env | nindent 12 }}
{{- end }}

{{- if .Values.envFrom }}
          envFrom:
{{- toYaml .Values.envFrom | nindent 12 }}
{{- end }}

          resources:
{{- toYaml .Values.resources | nindent 12 }}