####################################
# IDE / OS
####################################
.idea/
*.iml
.DS_Store
Thumbs.db

####################################
# Helm build artifacts
####################################
*.tgz
index.yaml

####################################
# Helm temp / cache
####################################
charts/**/charts/
charts/**/tmp/

####################################
# Editor swap / backup
####################################
*.swp
*.swo
*~
*.log